In [3]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Edith'],
    'age': [24, 34, 23, 36, 28],
    'state': ['NY', 'CA', 'CA', 'TX', 'NY'],
    'point': [64, 92, 70, 70, 88]
})

In [5]:
df.age * df.point * 2.11

0    3240.96
1    6600.08
2    3397.10
3    5317.20
4    5199.04
dtype: float64